<div class="wrap">
  <div class="content-top">
    <div class="lsidebar span_1_of_c1">
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing</p>
    </div>
    <div class="cont span_2_of_c1">
      <div class="social">
        <ul>
          <li class="facebook"><a href="#"><span> </span></a><div class="radius"> <img src="images/radius.png"><a href="#"> </a></div><div class="border hide"><p class="num">1.51K</p></div></li>
        </ul>
      </div>
      <div class="social">
        <ul>
          <li class="twitter"><a href="#"><span> </span></a><div class="radius"> <img src="images/radius.png"></div><div class="border hide"><p class="num">1.51K</p></div></li>
        </ul>
      </div>
      <div class="social">
        <ul>
          <li class="google"><a href="#"><span> </span></a><div class="radius"> <img src="images/radius.png"></div><div class="border hide"><p class="num">1.51K</p></div></li>
        </ul>
      </div>
      <div class="social">
        <ul>
          <li class="dot"><a href="#"><span> </span></a><div class="radius"> <img src="images/radius.png"></div><div class="border hide"><p class="num">1.51K</p></div></li>
        </ul>
      </div>
      <div class="clear"> </div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="content-bottom">
      <div class="row">
          <div  ng-repeat="item in vm.newestShoes" class="col_1_of_3 span_1_of_3">
              <div class="view view-fifth">
                  <div class="top_box">
                      <h3 class="m_1" ng-bind="item.name"></h3>
                      <p class="m_2" ng-bind="item.branch"></p>
                      <div class="grid_img">
                          <div class="css3"><img ng-src="{{item.imageUrl}}" alt=""/></div>
                          <div class="mask">
                              <div class="info">Quick View</div>
                          </div>
                      </div>
                      <div class="price" ng-bind="item.price"></div>
                  </div>
              </div>

              <ul class="list">
                  <li>
                      <img src="images/plus.png" alt=""/>
                      <ul class="icon1 sub-icon1 profile_img">
                          <li><a class="active-icon c1" href="#">Add To Bag </a>
                              <ul class="sub-icon1 list">
                                  <li><h3>sed diam nonummy</h3><a href=""></a></li>
                                  <li><p>Lorem ipsum dolor sit amet, consectetuer  <a href="">adipiscing elit, sed diam</a></p></li>
                              </ul>
                          </li>
                      </ul>
                  </li>
              </ul>
              <div class="clear"></div>
          </div>
      </div>


      <div class="clear"></div>


  </div>
</div>
